.footer{
    height: min-content;
    background-color: #333;
    width: 100%;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    padding-top: 4.5rem;
}

.footer__logo {
        width:5rem;
        height: 5rem;
        object-fit: cover;
}

.footer__info{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3rem;
}


.paragraph--footer{
    padding-top: 1.5rem;
}

.nav--footer a{
    color: var(--color-grey1);
}

.nav--footer a:hover{
    color: var(--color-grey1);
}

.nav--footer .navItem.active a{
    color: var(--color-grey1);
}

.nav--footer a:active{
    color: var(--color-grey1);
}

.nav--footer{
    padding-top: 1.5rem;
    border-top: 1px solid var(--color-grey1);
    width: 40%;
}

.footer--textBox{
    border-top: 1px solid var(--color-grey1);
    width: 40%;
}

.footer__iconBox{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media only screen and (max-width:600px){
    .footer__info{
        flex-direction: column;
        align-items: center;
    }

    .nav--footer{
        width: 90%;
    }

    .footer--textBox{
        margin-top: 5rem;
        width: 90%;
    }

    .paragraph--footer{
        text-align: center;
    }

}