.header{
    width: 100%;
    height: 6rem;
    background-color: red;
    padding: 2rem 8rem;
    display: flex;
    align-items: center;
    z-index: 1000; 
    position: fixed;
} 

.nav--header a{
  color: #474747;
}

.logo{
    width:3rem;
    height: 3rem;
    object-fit: cover;
    cursor: pointer;
}

.nav--header{
    margin-left: auto;
    width: 30%;
}

.burger__icon{
    display: none;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease;
    }
    
    .burger__icon div:not(:first-child){
      margin-top: 5px;
    }
    
    .burger__icon--line{
    border-radius: 1px;
    width: 25px;
    height: 3px;
    background-color: var(--color-green);
    transition: all .1s ease;
    }
    
    .burger__icon.opened{
      transform: translateY(2px);
    } 
    
    .burger__icon.opened  .burger__icon--line{
      margin-top: 0rem;
    }
    
    .burger__icon.opened  .burger__icon--line2{
      display: none;
    }
    
    .burger__icon.opened  .burger__icon--line1{
      transform:translate(1px,-1px) rotate(45deg );
    }
    
    .burger__icon.opened  .burger__icon--line3{
      transform:translateY(-4px) rotate(-45deg );
    }

@media only screen and (max-width: 1000px){
    .nav--header{
        width: 50%;
    }

}

@media only screen and (max-width: 600px){
    .header{
        padding: 2rem 4rem;
    }
    .burger__icon{
      display: flex;
    }
    .nav--header{
        display: none;
    }
}
