.team__section{
    display: grid;
    grid-template-rows: 80vh min-content;
    justify-items: center;
    margin-bottom: 15rem;
}

.teamText__container{
    background-image: url('../img/teamBackground.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
}


.teamText__container a{
    width: 25rem;
    z-index: 5;
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

.teamText__container--overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: .4;
    
}

.heading--teamPage{
    color: #fff;
    width: 65%;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    z-index: 5;
    font-size: 4.8rem;
}




.people__container{
    width: 80%;
    display: grid;
    grid-template-rows: 10rem repeat(3, 40rem);
    justify-items: center;
    align-items: center;
}

.peopleContainer--heading{
    text-transform: uppercase;
}

@media only screen and (max-width: 600px){

  .team__section{
    grid-template-rows: 50vh min-content;
  }
    
  .people__container{
    width: 90%;
    grid-template-rows: 10rem repeat(3, 63rem);
    grid-row-gap: 13rem;
  }

.heading--teamPage{
    width: 95%;
    font-size: 2.8rem;
    line-height: 1.4;
  }
  .peopleContainer--heading{
      margin-top: 10rem;
  }


  

}
