<footer class="footer">
    <div class='footer__container'>
        <img class="footer__logo" src="img/logo.png" alt="logo" />
        
    <div class="footer__info">

    <div class="nav--footer">
        <nav class="nav">

            <div class="navItem">
             <a href="/">Home</a> 
            </div>
    
            <div  class="navItem">
               <a  href="/team">Team</a>
            </div>
    
            <div  class="navItem">
                <a href="/contact">Contact</a>
            </div>
    
            <div class="navItem">
               <a href="/career">Career</a>
            </div>
    
        </nav>
    </div>

    <div class='footer--textBox'>
    <p class="paragraph paragraph--footer">
   To know more about us follow us on below given social media handles 
    </p>
    <div class='footer__iconBox'>
    <a href="https://www.instagram.com/mollify.in/"> 
        <svg style="margin-right: 2rem" class="icon">
            <use xlink:href="img/sprite.svg#icon-instagram"></use>
         </svg> 
    </a>
    <a href="https://twitter.com/mollify_in">
        <svg class="icon">
            <use xlink:href="img/sprite.svg#icon-twitter"></use>
        </svg> 
    </a>  
    </div>

    </div>
  
        
        
    </div>


        </div>
</footer>