<div class="formAgain__container">
    <img class='formAgain__img'  src='img/logo.png' alt="logo" /> 
    
    <h3 class='paragraph formAgain__para'>
    Your Response have been recorded Mollify team will contact you as soon as possible
    </h3>

    <a
    href="<%= title %>"
    class="button <%= title == 'career' ? 'button--green' : 'button--red' %>"
    >Submit Again</a>
</div>