.nav{
    display: flex;
    justify-content: space-around;
  }
  
  .navItem a{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--font-heading);
    font-weight: 800;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
  }

  .navItem a:visited, .navItem a:focus-visible{
      outline: none;
      border: none;
  }
  
 .navbar__link--active {
    color: var(--color-green)!important;
  }
  
  .navItem:hover a{
    color: var(--color-green);
  }