// HOME SVG

.homeSvg{
    width: 120%;
    animation: translateY 2s ease-in-out infinite alternate;
}
.attribution{
    font-size: 5rem;
}

.girl{
    animation: translateY 2s ease-in-out infinite alternate;
}

.petal{
    animation:  petalRotateAntiClock 2s ease-in-out infinite alternate;
    transform-origin: bottom left;
    transform-box: fill-box;
}

.petalLeft{
    animation: petalRotateClock 2s ease-in-out infinite alternate;
    transform-origin: bottom right;
    transform-box: fill-box;
}

// VISION SVG
.visionSvg{
    width: 100%;
    height: 100%;
}

// APPROACH SVG
.ApproachSvg{
    width: 100%;
    height: 100%;
}

.block{
   animation: blockOpacity 2.5s linear infinite alternate;
}

//Process Svg
.processSvg{
    width: 100%;
    height: 100%;
}

.wheel{
    /* animation: rotateAntiClock 5s ease-in-out linear infinite ; */
    animation: rotateAntiClock 16s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

.wheel-3{
    animation: rotateClock 16s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotateAntiClock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    } 
}

@keyframes rotateClock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes blockOpacity{
    0%{
        opacity: .2;
    }
    100%{
        opacity: .9;
    }
}


@keyframes leafRotateAntiClock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}

@keyframes petalRotateAntiClock{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}

@keyframes petalRotateClock{
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(2deg);
    }
}


@keyframes translateY{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-4%);
    }
}