<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
    <title>Mollify | <%= title %> </title>
</head>
<body>

<!------------------ HEADER ------------------------->
<%- include('../partials/header'); %>

<div  class="team__section">

    <div class="teamText__container">
   <div class='teamText__container--overlay'></div> 
        <h1
        data-aos="fade-left" 
        class="main__heading heading--teamPage ">
        We’are proud of our team and always looking for more people with a similar passion.
        </h1>
        <div
        data-aos="fade-right" 
        >
        <a href='/career' class="button  button--green">Career</a>
        </div>
       
    </div>

    <div class="people__container">
    <h1
      data-aos="fade-up" 
      class="sub__heading peopleContainer--heading">
      CraftsMen
    </h1>       
    
    <!-- person1 -->
<div data-aos-offset="-100" data-aos="fade-up"   class="person">
   <div class="person__infoContainer">

      <div data-aos="fade-right" data-aos-offset="-100" class="person__info" >
      <div class="personImg personImg--1 left__align"></div>

       <div
       class="iconBox ">
       <a href="https://www.instagram.com/yusuf.ejaz/">
        <svg  class="icon">
            <use xlink:href="img/sprite.svg#icon-instagram"></use>
         </svg> 
       </a>  
       <a href="http://twitter.com/mollify_in">
        <svg  class="icon">
            <use xlink:href="img/sprite.svg#icon-twitter"></use>
         </svg> 
       </a> 
       <a href="https://www.linkedin.com/in/yusufejaz/">
        <svg  class="icon">
            <use xlink:href="img/sprite.svg#icon-linkedin2"></use>
         </svg> 
       </a> 
       </div>


       </div>


       <div data-aos="fade-left" data-aos-offset="-100" class="textBox" >
               <h3 class="textBox__name" >Yusuf</h3>
               <h5 class="textBox__position">Founder & Chief Executive Officer</h5>
               <p class="paragraph textBox__info">Yusuf is the man behind the whole idea of Mollify. He has the vision to help people who are suffering from various mental illness. He believes the problem can be solved with the help of Mollify. With a degree in Economics and in Financial Analytics, he will surely lead this business to great heights and make this world a happy place.</p>
       </div>
    </div> 
      
     

</div>
    
    <!-- person2 -->
<div data-aos-offset="-100" data-aos="fade-up" class="person">
<div  class="person__infoContainer">

   <div
   data-aos-offset="-100"
   data-aos="fade-left"
   class="person__info left__align" >

   <div class="personImg personImg--2"></div>

    <div
    class="iconBox ">
    <a href="https://www.instagram.com/saadulecious/">
     <svg  class="icon">
         <use xlink:href="img/sprite.svg#icon-instagram"></use>
      </svg> 
    </a>  
    <a href="http://twitter.com/mollify_in">
     <svg  class="icon">
         <use xlink:href="img/sprite.svg#icon-twitter"></use>
      </svg> 
    </a> 
    <a href="https://www.linkedin.com/in/saadulhaque/">
     <svg  class="icon">
         <use xlink:href="img/sprite.svg#icon-linkedin2"></use>
      </svg> 
    </a> 
    </div>

    </div>


    <div data-aos-offset="-100" class="textBox " data-aos="fade-right">
            <h3 class="textBox__name" >Saad</h3>
            <h5 class="textBox__position">Co-Founder & Chief Marketing Officer</h5>
            <p class="paragraph textBox__info">Saad is a Research Analyst and the co-founder of Mollify. With a degree in MBA from NIT Warangal and experience in the market of more than 5 years, Saad joined Kearney in 2018. His vision is to make Mental Health as important as Physical Health and destroy the social stigma that is attached to it through this application.</p>
    </div>
</div> 
   
  

</div>


    <!-- person3 -->
<div data-aos-offset="-100" data-aos="fade-up"  class="person">
    <div  class="person__infoContainer">
    
       <div
       data-aos="fade-right"
       data-aos-offset="-100"
       class="person__info" >
    
       <div class="personImg personImg--3 left__align"></div>
    
        <div class="iconBox ">
        <a href="https://www.instagram.com/mohd__yahya/">
         <svg  class="icon">
             <use xlink:href="img/sprite.svg#icon-instagram"></use>
          </svg> 
        </a>  
        <a href="http://twitter.com/mollify_in">
         <svg  class="icon">
             <use xlink:href="img/sprite.svg#icon-twitter"></use>
          </svg> 
        </a> 
        <a href="linkedin.com/in/mohd-yahya-194850200/">
         <svg  class="icon">
             <use xlink:href="img/sprite.svg#icon-linkedin2"></use>
          </svg> 
        </a> 
        </div>
    
    
        </div>
    
    
        <div
        data-aos="fade-left"
        data-aos-offset="-100"
     
         class="textBox " >
                <h3 class="textBox__name" >Yahya</h3>
                <h5 class="textBox__position">Chief Technology Officer</h5>
                <p class="paragraph textBox__info">Yahya has an eye for what is right and what is wrong in the field of Web Designing and Development. While pursuing Engineering in Jamia Hamdard, he has developed a dozen of websites. It is no doubt that he is one of the most vital characters in our team.</p>
        </div>
    </div> 
       
      
    
</div>
    
    
    </div>
</div>



<!-- FOOTER STARTS -->
<%- include('../partials/footer'); %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
<script src="./js/index.js"></script>
</body>
</html>